body {
    background-image: url(img/zen.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(99, 90, 90);
    color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

#message-el {
    color: white;
    font-size: 2.4em;
}

p {
    color: white;
    font-size: 2em;
}

#start-el {
    width: 150px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    color: green;
    background-color: rgb(246, 242, 242);
    border-radius: 0.5em;
    border: none;
}

#start-el:hover {
    color: goldenrod;
    background-color: black;
}

#new-el {
    width: 150px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    color: green;
    background-color: rgb(246, 242, 242);
    border-radius: 0.5em;
    border: none;
    margin-top: 0.8em;
}

#new-el:hover {
    color: goldenrod;
    background-color: black;
}